<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.sogukj.pe">

    <!-- package="com.sogukj.pe" -->


    <!-- package="com.sogukj.pe" -->

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="com.huawei.android.launcher.permission.CHANGE_BADGE" />
    <uses-permission android:name="com.huawei.android.launcher.permission.READ_SETTINGS" />
    <uses-permission android:name="com.huawei.android.launcher.permission.WRITE_SETTINGS" />
    <uses-permission android:name="com.huawei.android.launcher2.permission.READ_SETTINGS" />
    <uses-permission android:name="com.huawei.android.launcher2.permission.WRITE_SETTINGS" />
    <uses-permission android:name="com.huawei.android.launcher3.permission.READ_SETTINGS" />
    <uses-permission android:name="com.huawei.android.launcher3.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.READ_LOGS" />
    <!-- 网易云信IM权限 -->
    <!-- 权限声明 -->
    <!-- 访问网络状态 -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <!-- 控制呼吸灯，振动器等，用于新消息提醒 -->
    <uses-permission android:name="android.permission.FLASHLIGHT" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <!-- 外置存储存取权限 -->
    <!-- <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/> -->
    <!-- <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/> -->


    <!-- 多媒体相关 -->
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <!-- <uses-permission android:name="android.permission.READ_PHONE_STATE"/> -->


    <!-- 如果需要实时音视频通话模块，下面的权限也是必须的。否则，可以不加 -->
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission android:name="android.permission.BROADCAST_STICKY" />

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />
    <uses-feature
        android:glEsVersion="0x00020000"
        android:required="true" />

    <permission
        android:name="com.sogukj.pe.permission.RECEIVE_MSG"
        android:protectionLevel="signature" />

    <uses-permission android:name="com.sogukj.pe.permission.RECEIVE_MSG" />

    <application xmlns:tools="http://schemas.android.com/tools"
        android:name=".App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:replace="android:theme">

        <!-- 网易云信IM配置开始 -->
        <!--
    APP key, 可以在这里设置，也可以在 SDKOptions 中提供。
    如果 SDKOptions 中提供了，取 SDKOptions 中的值。
        -->
        <meta-data
            android:name="com.amap.api.v2.apikey"
            android:value="${AMAP_KEY}" />
        <meta-data
            android:name="com.netease.nim.appKey"
            android:value="${IM_KEY}" />
        <!-- 测试版 -->
        <!-- a0af02d86ecfb1ee160dde8369a5035e -->
        <!-- 正式版 -->
        <!-- 5d8ada31fe2ba9cb419b5f63a95e8756 -->
        <!-- 云信后台服务，请使用独立进程。 -->
        <service
            android:name="com.netease.nimlib.service.NimService"
            android:process=":core" />
        <service
            android:name="com.netease.nimlib.service.NimService$Aux"
            android:process=":core" />

        <!-- 云信后台辅助服务 -->
        <service
            android:name="com.netease.nimlib.job.NIMJobService"
            android:exported="true"
            android:permission="android.permission.BIND_JOB_SERVICE"
            android:process=":core" />

        <!-- 云信监视系统启动和网络变化的广播接收器，保持和 NimService 同一进程 -->
        <receiver
            android:name="com.netease.nimlib.service.NimReceiver"
            android:exported="false"
            android:process=":core">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
            </intent-filter>
        </receiver>

        <!-- 云信进程间通信 Receiver -->
        <receiver android:name="com.netease.nimlib.service.ResponseReceiver" />

        <!-- 云信进程间通信service -->
        <service android:name="com.netease.nimlib.service.ResponseService" />
        <!-- 云信进程间通信provider -->
        <!-- android:authorities="{包名}.ipc.provider", 请将com.netease.nim.demo替换为自己的包名 -->
        <provider
            android:name="com.netease.nimlib.ipc.NIMContentProvider"
            android:authorities="com.sogukj.pe.ipc.provider"
            android:exported="false"
            android:process=":core" />
        <!-- 网易云信IM配置结束 -->

        <meta-data
            android:name="UMENG_APPKEY"
            android:value="59b781c607fe652e44000165" />
        <meta-data
            android:name="UMENG_MESSAGE_SECRET"
            android:value="a4bb361310d9aee916f2cc43c5dbda5c" />

        <!-- <meta-data -->
        <!-- android:name="UMENG_CHANNEL" -->
        <!-- android:value="${UMENG_CHANNEL_VALUE}" /> -->

        <activity android:name=".ui.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="com.sogukj.pe.fileProvider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <activity
            android:name=".ui.main.MainActivity"
            android:configChanges="orientation|screenSize"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden|adjustPan" />
        <activity
            android:name=".ui.LoginActivity"
            android:configChanges="orientation|screenSize"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysVisible" />
        <activity
            android:name="cn.finalteam.rxgalleryfinal.ui.activity.MediaActivity"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.yalantis.ucrop.UCropActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.news.NewsDetailActivity"
            android:configChanges="orientation|screenSize"
            android:screenOrientation="portrait" />
        <!-- <activity -->
        <!-- android:name=".ui.user.UserFragment" -->
        <!-- android:configChanges="orientation|screenSize" -->
        <!-- android:screenOrientation="portrait" /> -->
        <activity
            android:name=".ui.user.UserEditActivity"
            android:configChanges="orientation|screenSize"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.project.ProjectAddActivity"
            android:configChanges="orientation|screenSize"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateVisible|adjustPan" />
        <activity
            android:name=".ui.project.ProjectActivity"
            android:configChanges="orientation|screenSize"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.news.NegativeNewsActivity"
            android:configChanges="orientation|screenSize"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.StockInfoActivity"
            android:configChanges="orientation|screenSize"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.CompanyInfoActivity"
            android:configChanges="orientation|screenSize"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.GaoGuanActivity"
            android:configChanges="orientation|screenSize"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.CanGuActivity"
            android:configChanges="orientation|screenSize"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.AnnouncementActivity"
            android:configChanges="orientation|screenSize"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.ShiDaGuDongActivity"
            android:configChanges="orientation|screenSize"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.IssueRelatedActivity"
            android:configChanges="orientation|screenSize"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.EquityChangeActivity"
            android:configChanges="orientation|screenSize"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.BonusInfoActivity"
            android:configChanges="orientation|screenSize"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.AllotmentListActivity"
            android:configChanges="orientation|screenSize"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.AllotmentActivity"
            android:configChanges="orientation|screenSize"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.ShiDaLiuTongGuDongActivity"
            android:configChanges="orientation|screenSize"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.GuBenJieGouActivity"
            android:configChanges="orientation|screenSize"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.BizInfoActivity"
            android:configChanges="orientation|screenSize"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.ShareHolderInfoActivity"
            android:configChanges="orientation|screenSize"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.QiYeLianBaoActivity"
            android:configChanges="orientation|screenSize"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.ChangeRecordActivity"
            android:configChanges="orientation|screenSize"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.InvestmentActivity"
            android:configChanges="orientation|screenSize"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.KeyPersonalActivity"
            android:configChanges="orientation|screenSize"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.EquityStructureActivity"
            android:configChanges="orientation|screenSize"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.FinanceHistoryActivity"
            android:configChanges="orientation|screenSize"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.InvestEventActivity"
            android:configChanges="orientation|screenSize"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.CoreTeamActivity"
            android:configChanges="orientation|screenSize"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.BusinessEventsActivity"
            android:configChanges="orientation|screenSize"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.ProductInfoActivity"
            android:configChanges="orientation|screenSize"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.RecruitActivity"
            android:configChanges="orientation|screenSize"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.BondActivity"
            android:configChanges="orientation|screenSize"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.BondInfoActivity"
            android:configChanges="orientation|screenSize"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.TaxRateActivity"
            android:configChanges="orientation|screenSize"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.LandPurchaseActivity"
            android:configChanges="orientation|screenSize"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.LandPurchaseInfoActivity"
            android:configChanges="orientation|screenSize"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.BidsActivity"
            android:configChanges="orientation|screenSize"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.BidInfoActivity"
            android:configChanges="orientation|screenSize"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.QualificationListActivity"
            android:configChanges="orientation|screenSize"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.QualificationActivity"
            android:configChanges="orientation|screenSize"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.CheckListActivity"
            android:configChanges="orientation|screenSize"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.AppListActivity"
            android:configChanges="orientation|screenSize"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.BrandListActivity"
            android:configChanges="orientation|screenSize"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.PatentListActivity"
            android:configChanges="orientation|screenSize"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.PatentInfoActivity"
            android:configChanges="orientation|screenSize"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.CopyrightListActivity"
            android:configChanges="orientation|screenSize"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.CopyrightInfoActivity"
            android:configChanges="orientation|screenSize"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.ICPListActivity"
            android:configChanges="orientation|screenSize"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.BranchListActivity"
            android:configChanges="orientation|screenSize"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.CompanyInfo2Activity"
            android:configChanges="orientation|screenSize"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.project.StoreProjectAddActivity"
            android:configChanges="orientation|screenSize"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <activity
            android:name=".ui.htdata.ProjectBookActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <activity
            android:name=".ui.htdata.ProjectBookUploadActivity"
            android:configChanges="orientation|screenSize"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.news.NewsListActivity"
            android:configChanges="orientation|screenSize"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.mob.tools.MobUIShell"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"
            android:windowSoftInputMode="stateHidden|adjustResize">
            <meta-data
                android:name="AuthorizeAdapter"
                android:value="com.sogukj.pe.wxapi.MyShareAdapter" />

            <intent-filter>
                <data android:scheme="tencent1106375897" />

                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
            </intent-filter>
            <intent-filter>
                <action android:name="com.sina.weibo.sdk.action.ACTION_SDK_REQ_ACTIVITY" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".wxapi.WXEntryActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />

        <receiver android:name=".wxapi.AppRegister">
            <intent-filter>
                <action android:name="com.tencent.mm.plugin.openapi.Intent.ACTION_REFRESH_WXAPP" />
            </intent-filter>
        </receiver>
        <!-- <activity -->
        <!-- android:name="cn.sharesdk.tencent.qq.ReceiveActivity" -->
        <!-- android:launchMode="singleTask" -->
        <!-- android:noHistory="true"> -->
        <!-- <intent-filter> -->
        <!-- <action android:name="android.intent.action.VIEW" /> -->


        <!-- <category android:name="android.intent.category.DEFAULT" /> -->
        <!-- <category android:name="android.intent.category.BROWSABLE" /> -->


        <!-- <data android:scheme="tencent100371282" /> -->
        <!-- </intent-filter> -->
        <!-- </activity> -->
        <activity
            android:name=".ui.approve.EntryApproveActivity"
            android:configChanges="keyboard|orientation|screenSize"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden|adjustResize" />
        <activity
            android:name=".ui.approve.ApproveListActivity"
            android:configChanges="keyboard|orientation|screenSize"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden|adjustResize" />
        <activity
            android:name=".ui.approve.BuildSealActivity"
            android:configChanges="keyboard|orientation|screenSize"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <activity
            android:name=".ui.approve.BuildSignActivity"
            android:configChanges="keyboard|orientation|screenSize"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <activity
            android:name=".ui.approve.ListSelectorActivity"
            android:configChanges="keyboard|orientation|screenSize"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <activity
            android:name=".ui.htdata.ProjectBookMoreActivity"
            android:configChanges="keyboard|orientation|screenSize"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <activity
            android:name=".ui.approve.ApproveSearchActivity"
            android:configChanges="keyboard|orientation|screenSize"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysVisible|adjustResize" />
        <activity
            android:name=".ui.approve.SealApproveActivity"
            android:configChanges="keyboard|orientation|screenSize"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <activity
            android:name=".ui.approve.SignApproveActivity"
            android:configChanges="keyboard|orientation|screenSize"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <activity
            android:name=".ui.msg.MessageListActivity"
            android:configChanges="keyboard|orientation|screenSize"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <activity android:name=".ui.project.ProjectFocusActivity" />
        <activity android:name=".ui.user.UserResumeActivity" />
        <activity android:name=".ui.user.WorkExpericenceAddActivity" />
        <activity android:name=".ui.user.EducationActivity" />
        <activity
            android:name=".ui.fund.FundDetailActivity"
            android:configChanges="keyboard|orientation|screenSize"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <activity
            android:name=".ui.fund.FundSearchActivity"
            android:configChanges="keyboard|orientation|screenSize"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <activity
            android:name=".ui.fund.FundStructureActivity"
            android:configChanges="keyboard|orientation|screenSize"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <activity
            android:name=".ui.fund.FundAccountActivity"
            android:configChanges="keyboard|orientation|screenSize"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <activity
            android:name=".ui.project.ShareholderCreditActivity"
            android:configChanges="keyboard|orientation|screenSize"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustPan" />
        <activity
            android:name=".ui.project.AddCreditActivity"
            android:configChanges="keyboard|orientation|screenSize"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <activity
            android:name=".ui.project.SensitiveInfoActivity"
            android:configChanges="keyboard|orientation|screenSize"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <activity
            android:name=".ui.project.SecondaryActivity"
            android:configChanges="keyboard|orientation|screenSize"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <activity
            android:name=".ui.user.OrganizationActivity"
            android:configChanges="keyboard|orientation|screenSize"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <activity
            android:name=".ui.user.SettingActivity"
            android:configChanges="keyboard|orientation|screenSize"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <activity android:name=".ui.user.CityAreaActivity" />
        <activity android:name=".ui.user.IndustryActivity" />
        <activity
            android:name=".ui.project.SurveyDataActivity"
            android:configChanges="keyboard|orientation|screenSize"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <activity
            android:name=".ui.project.InvestSuggestActivity"
            android:configChanges="keyboard|orientation|screenSize"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <activity
            android:name=".ui.project.ManageDataActivity"
            android:configChanges="keyboard|orientation|screenSize"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <activity android:name=".ui.project.RecordTraceActivity" />
        <activity
            android:name=".ui.project.RecordDetailActivity"
            android:configChanges="keyboard|orientation|screenSize"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <activity android:name=".ui.weekly.WeeklyActivity" />
        <activity android:name=".ui.weekly.WeeklyRecordActivity" />
        <activity android:name=".ui.weekly.PersonalWeeklyActivity" />
        <activity
            android:name=".ui.user.ResumeEditorActivity"
            android:configChanges="keyboard|orientation|screenSize"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <activity
            android:name=".ui.calendar.CalendarMainActivity"
            android:configChanges="keyboard|orientation|screenSize"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <activity
            android:name=".ui.calendar.MatterDetailActivity"
            android:configChanges="keyboard|orientation|screenSize"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <activity
            android:name=".ui.calendar.TaskDetailActivity"
            android:configChanges="keyboard|orientation|screenSize"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <activity
            android:name=".ui.calendar.ModifyTaskActivity"
            android:configChanges="orientation|screenSize"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|stateUnchanged" />
        <activity android:name=".ui.calendar.CompanySelectActivity" />
        <activity
            android:name=".ui.user.CardActivity"
            android:theme="@style/MyDialogActivity" />
        <activity android:name=".ui.calendar.ModifyScheduleActivity" />
        <activity android:name=".ui.score.TotalScoreActivity" />
        <activity android:name=".ui.user.FeedBackActivity" />
        <activity android:name=".ui.score.ScoreDetailActivity" />
        <activity android:name=".ui.score.RateActivity" />
        <activity android:name=".ui.score.ScoreListActivity" />
        <activity
            android:name=".ui.score.FengKongActivity"
            android:configChanges="keyboard|orientation|screenSize"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <activity android:name=".ui.score.InvestManageActivity" />
        <activity android:name=".ui.score.LeaderActivity" />
        <activity android:name=".ui.score.JiXiaoActivity" />
        <activity android:name=".ui.calendar.SelectUserActivity" />
        <activity android:name=".ui.score.GangWeiShengRenLiActivity" />
        <activity android:name=".ui.score.GangWeiListActivity" />
        <activity android:name=".ui.score.GuanJianJiXiaoListActivity" />
        <activity android:name=".ui.score.RedBlackActivity" />
        <activity android:name=".ui.score.RuleActivity" />
        <activity
            android:name=".ui.score.TemplateActivity"
            android:configChanges="keyboard|orientation|screenSize"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustResize" />

        <!-- IM界面 -->
        <activity android:name=".ui.IM.TeamInfoActivity" />
        <activity android:name=".ui.IM.TeamHistoryFileActivity" />
        <activity android:name=".ui.IM.TeamSearchActivity" />
        <activity android:name=".ui.IM.TeamPictureActivity" />
        <activity android:name=".ui.IM.TeamSelectActivity" />
        <activity android:name=".ui.IM.PersonalInfoActivity" />
        <activity android:name=".ui.IM.TeamCreateActivity" />
        <activity android:name=".ui.IM.DisplayMessageActivity" />
        <activity android:name=".ui.IM.location.activity.LocationAmapActivity" />
        <activity android:name=".ui.IM.location.activity.NavigationAmapActivity" />
        <activity android:name=".ui.score.PointProgressActivity" />
        <activity android:name=".ui.fund.FundBookActivity" />
        <activity android:name=".ui.fund.FundUploadActivity" />
        <activity android:name=".ui.fund.FundBookMoreActivity" />
        <activity android:name=".ui.project.ProjectTCActivity" />
        <activity android:name=".ui.project.ProjectTcHistoryActivity" />
        <activity android:name=".ui.fileSelector.FileMainActivity"></activity>
    </application>

</manifest>